/* --page */
/* this file should contain html and body styles, and any other styles that relate to the general wrapping of every page e.g. a pagewrapping element */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nissan Brand", "Ubuntu", Arial, Verdana, sans-serif;
  font-size: 100%;
  padding: 20px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
  color: black;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  &.solved {
    background: black;
  }
}

:not(:root):fullscreen::backdrop {
  background: white;
}

body:fullscreen {
  background-color: white;
}
body:-webkit-full-screen {
  background-color: white;
}
body:-moz-full-screen {
  background-color: white;
}

h2 {
  font-size: 36px;
  font-family: "Nissan Light", "Nissan Regular", Verdana, Arial, sans-serif;
  text-align: center;
}

.logo {
  width: 200px;
  display: block;
  left: 50%;
  text-align: center;
  position: relative;
  transform: translate(-50%);
  padding: 20px 0px 20px 0px;
}
/* --buttons */

/* almost! managed to normalise the heights across IEs, FF and everyone else */
input.btn {
  padding-top: 0;
  padding-bottom: 0;
  height: 2em * 1.04;
  &.btn-small {
    height: 2em / 1.4;
  }
}

.btn {
  display: inline-block;
  padding: 0 1.5em;
  line-height: 2em;
  margin: 0 0 0.5em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  background: black;
  color: white;
  outline: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: middle;
  font-family: Arial, Helvetica;
  border-collapse: separate; //fix for IE9
  overflow: visible; //fix for IE7

  &:hover {
    text-decoration: none;
    background: #666666;
  }
  &:focus {
    outline: solid 3px black;
  }
  &.btn-block {
    display: block;
    width: 100%;
  }
  &.btn-primary {
    background: #00703c;
  }
  &.btn-secondary {
    background: #c3002f;
    outline: none;
    &:hover{
      background: #920023;
    }
  }
  &.difficult{
    background: #eee;
    color: black;
    &:hover{
      background: #c3002f;
      color: white;
    }
    &.active{
      background: #c3002f;
      color: white;
    }
  }
}

.expand{
  font-size: 24px;
    display: flex;
    position: fixed;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

.intro {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  text-align: center;
  opacity: 1;
  right: 0vw;
  top: 25%;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 2;
  &.hide {
    right: 100vw;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .imgChoice {
    display: inline-block;
    width: 30%;
    border: 3px solid white;
    &:hover {
      border: 3px solid #c3002f;
      cursor: pointer;
    }
  }
}

button#resetPuzzle {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
}

.share-overlay {
  display: block;
  width: 35vw;
  height: 40vh;
  position: fixed;
  background: white;
  text-align: center;
  padding: 20px;
  font-size: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &.closed {
    display: none;
  }
  p {
    padding-top: 50px;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #1a1a1a;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  // opacity: 0.7;
  background: #c3002f;
}

a#close {
  position: absolute;
  right: 20px;
  top: 20px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

a.hamburger {
  cursor: pointer;
  padding: 12px 0;
  top: 20px;
  left: 20px;
  position: absolute;
  outline: none !important;
  opacity: 1;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.hidden {
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  span {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background: #222;
    transition: all 0.2s ease-in-out;

    &:before,
    &:after {
      position: absolute;
      background: #222;
      left: 0px;
      content: "";
      width: 30px;
      height: 4px;
      transition: all 0.2s ease-in-out;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }
}

a.active {
  span {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.canvaswrapper {
  display: -webkit-box;
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 10px;
  height: calc(100vh - 40px);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  .canvas {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: silver;
  }
}

//   .optionstrigger {
//     position:fixed;
//     bottom:0;
//     right:0;
//     padding:0.5em;
//     background:@white;
//     width:2em;
//     height:2em;
//     cursor:pointer;
//     .transparency(0.6);

//     &:hover {
//       .transparency(1);
//     }

//     img {
//       max-width:100%;
//     }
//   }

//   .optionswrapper {
//     position:fixed;
//     top:0;
//     left:0;
//     width:100%;
//     height:100vh;
//     .flex;
//     .align-items(center);
//     .justify-content(center);
//     .transparency(0);
//     z-index:-1;
//     .transition(all 0.4s);

//     &.shown {
//       .transparency(1);
//       z-index:10;
//     }

//     .mask {
//       z-index:1;
//       position:absolute;
//       top:0;
//       left:0;
//       width:100%;
//       height:100%;
//       background:rgba(0,0,0,0.5);
//     }
//     .options {
//       z-index:2;
//       min-width: 50px;
//       padding:1em;
//       background:@white;
//       border-radius: 2px;
//     }
//   }

.inputwrap {
  padding: 0.5em 0;
  label {
    padding: 0 0 1em 0;
    display: block;
  }
}

.forminput {
  padding: 0.2em;
  width: 4em;
  border: solid 1px #333333;
  font-size: 1.3em;

  &:focus {
    outline: solid 3px black;
  }
}

//   .fileinput {
//     .border-box;
//     width: 100%;
//     font-size: 1.3em;
//     padding: 0.3em;
//     border:solid 1px #333333;

//     &:focus {
//       outline: solid 3px black;
//     }
//   }

.btnwrapper {
  padding-top: 1em;
  text-align: center;
}

.aboutlink {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .imgChoice {
    width: 80% !important;
  }

  h2 {
    font-size: 20px;
  }
  .intro {
    top: 30%;
  }

  button#resetPuzzle {
    position: absolute;
    top: 90vh;
    right: 50%;
    transform: translate(50%);
    outline: none;
  }

  a.hamburger {
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    top: 15px;
  }

  .logo {
    padding: 40px 0px 20px 0px;
  }

  .canvaswrapper {
    height: 100%;
  }

  .share-overlay {
    width: 65vw;
    p {
      font-size: 12px;
    }
    .close {
      font-size: 22px;
    }
    .fa {
      margin: 0px;
      width: 15px;
      height: 15px;
      font-size: 15px;
      padding: 15px;
    }
  }
}
